
@tailwind base;
@tailwind components;
@tailwind utilities;

.back-video{
   width: 100%;
   height: 70vh;
   /* margin-top: 50px; */
}
video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.quote{
    border: 1px solid black;
    border-radius: 5px;
    height: 10vh;
    width: 80vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: gray;
    margin: 10px auto;
    /* d-flex justify-content-center */
}

.Photo{
    margin-left: 50px;
    border: 1px solid;
    border-radius: 4px;
    height: 30vh;
    width: 40vw;
}
.card-body{
    margin-left: 500px;
}
